<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Page</title>
</head>
<body>
    <h1>Crownfall Candyworks</h1>
    <form>
        <label for="input1">Starting Candy A:</label>
        <input type="text" id="input1" name="input1"><br>

        <label for="input2">Starting Candy B:</label>
        <input type="text" id="input2" name="input2"><br>

        <label for="input3">Starting Candy C:</label>
        <input type="text" id="input3" name="input3"><br>

        <label for="input4">Starting Candy D:</label>
        <input type="text" id="input4" name="input4"><br>

        <label for="input5">Starting Candy E:</label>
        <input type="text" id="input5" name="input5"><br>

        <label for="target1">Target Candies 1:</label>
        <input type="text" id="target1" name="target1"><br>

        <label for="target2">Target Candies 2:</label>
        <input type="text" id="target2" name="target2"><br>

        <label for="target3">Target Candies 3:</label>
        <input type="text" id="target3" name="target3"><br>

        <label for="target4">Target Candies 4:</label>
        <input type="text" id="target4" name="target4"><br>

        <label for="target5">Target Candies 5:</label>
        <input type="text" id="target5" name="target5"><br>

        <label for="left_input1">Left Input 1:</label>
        <input type="text" id="left_input1" name="left_input1"><br>

        <label for="right_output1">Right Output 1:</label>
        <input type="text" id="right_output1" name="right_output1"><br>

        <label for="left_input2">Left Input 2:</label>
        <input type="text" id="left_input2" name="left_input2"><br>

        <label for="right_output2">Right Output 2:</label>
        <input type="text" id="right_output2" name="right_output2"><br>

        <label for="left_input3">Left Input 3:</label>
        <input type="text" id="left_input3" name="left_input3"><br>

        <label for="right_output3">Right Output 3:</label>
        <input type="text" id="right_output3" name="right_output3"><br>

        <label for="left_input4">Left Input 4:</label>
        <input type="text" id="left_input4" name="left_input4"><br>        

        <label for="right_output4">Right Output 4:</label>
        <input type="text" id="right_output4" name="right_output4"><br>

        <label for="max_candies">Max Candies:</label>
        <input type="text" id="max_candies" name="max_candies"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
